<h2>User Details</h2>
<div class="items">
    <div *ngIf="user">
        <table class="detailsTable"> 
            <tr>
                <th> Name</th>
                <td>: {{ user.name }}</td>
            </tr>
            <tr>
                <th> Username</th>
                <td>: {{ user.username }}</td>
            </tr>
            <tr>
                <th> Email Address</th>
                <td>: {{ user.email }}</td>
            </tr>
        </table>
    </div>
</div>
<div>
    <button (click)="togglePosts()">Show Posts</button>
    <button (click)="goToUsers()">Back</button>        
    <app-user-posts [showPosts]="showPosts" [userId]="userId"></app-user-posts>
</div>